<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "[skippinggirl.itemperor.edu.mit.scratch]"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>SkippingGirl</name>

    <description>
        My own creation sprite is skipping
    </description>

    <author href="http://scratch.mit.edu/users/itemperor" email="[Your Email]">
        itemperor
    </author>

</widget>
